\bin
\obj
packages/FSharp.Core.3.1.2.5/FSharp.Core.3.1.2.5.nupkg
packages/FSharp.Core.3.1.2.5/lib/net20/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/net20/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/net20/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/net20/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/net40/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/net40/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/net40/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/net40/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wp8/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wp8/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wp8/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wp8/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.xml
packages/FSharp.Core.3.1.2.5/lib/portable-net45+sl5+netcore45/FSharp.Core.dll
packages/FSharp.Core.3.1.2.5/lib/portable-net45+sl5+netcore45/FSharp.Core.optdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+sl5+netcore45/FSharp.Core.sigdata
packages/FSharp.Core.3.1.2.5/lib/portable-net45+sl5+netcore45/FSharp.Core.xml
packages/MathNet.Numerics.3.9.0/lib/net35/MathNet.Numerics.dll
packages/MathNet.Numerics.3.9.0/lib/net35/MathNet.Numerics.xml
packages/MathNet.Numerics.3.9.0/lib/net40/MathNet.Numerics.dll
packages/MathNet.Numerics.3.9.0/lib/net40/MathNet.Numerics.xml
packages/MathNet.Numerics.3.9.0/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.9.0/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.9.0/lib/portable-net45+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.9.0/lib/portable-net45+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.9.0/lib/portable-net45+netcore45+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.9.0/lib/portable-net45+netcore45+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.9.0/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.9.0/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.9.0/lib/portable-net45+sl5+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.dll
packages/MathNet.Numerics.3.9.0/lib/portable-net45+sl5+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.9.0/license.txt
packages/MathNet.Numerics.3.9.0/MathNet.Numerics.3.9.0.nupkg
packages/MathNet.Numerics.3.9.0/readme.txt
packages/MathNet.Numerics.FSharp.3.9.0/lib/net35/MathNet.Numerics.FSharp.dll
packages/MathNet.Numerics.FSharp.3.9.0/lib/net35/MathNet.Numerics.FSharp.xml
packages/MathNet.Numerics.FSharp.3.9.0/lib/net40/MathNet.Numerics.FSharp.dll
packages/MathNet.Numerics.FSharp.3.9.0/lib/net40/MathNet.Numerics.FSharp.xml
packages/MathNet.Numerics.FSharp.3.9.0/lib/portable-net45+sl5+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.FSharp.dll
packages/MathNet.Numerics.FSharp.3.9.0/lib/portable-net45+sl5+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.FSharp.XML
packages/MathNet.Numerics.FSharp.3.9.0/license.txt
packages/MathNet.Numerics.FSharp.3.9.0/MathNet.Numerics.FSharp.3.9.0.nupkg
packages/MathNet.Numerics.FSharp.3.9.0/MathNet.Numerics.fsx
packages/MathNet.Numerics.FSharp.3.9.0/MathNet.Numerics.IfSharp.fsx
packages/MathNet.Numerics.FSharp.3.9.0/readme.txt
packages/TaskParallelLibrary.1.0.2856.0/lib/Net35/redist.txt
packages/TaskParallelLibrary.1.0.2856.0/lib/Net35/System.Threading.chm
packages/TaskParallelLibrary.1.0.2856.0/lib/Net35/System.Threading.dll
packages/TaskParallelLibrary.1.0.2856.0/lib/Net35/System.Threading.xml
packages/TaskParallelLibrary.1.0.2856.0/TaskParallelLibrary.1.0.2856.0.nupkg
